.grid {
    margin-top: 30px;
    position: relative;
    display: grid;
    grid-template-columns: 15vw 35vw 35vw 15vw;
}
.item {
    padding: 20px;
    background-color: white;
    margin: 10px;
}
.item1 {
    color: rgb(72, 72, 74);
    font-size: 225%;
    text-align: left;
}
.item3 {
    font-size: 1.5vw;
    color: rgb(72, 72, 74);
    position: relative;
}