.grid {
    margin-top: 30px;
    position: relative;
    left: 15vw;
    display: grid;
    grid-template-columns: 35vw 35vw;
}
.item {
    padding: 10px;
}
.item1 {
    color: rgb(52, 52, 52);
    font-size: 2vw;
}
.item3 {
    font-size: 175%;
    color: rgb(52, 52, 52);
    position: relative;
}